
h3{
    font-size: 50px;
    background-color: blueviolet !important;
}
h2{
    font-size: 100;
    background-color: darkgoldenrod !important;
}

.text_transform_up{
            text-transform: uppercase;
         }
        
.text_transform_low{
            text-transform: lowercase;
         }

.text_transform_cap{
            text-transform: capitalize;
         }

         .text_transform_underlinr{
            text-decoration: underline;
         }
         .text_transform_overline{
            text-decoration: overline;
         }
         .text_transform_linethrought{
            text-decoration: line-through;
         }
         .letter{
            text-indent: 80px;
         }
         .letter_spacing{
            letter-spacing: 70px;
         }
         .World_spacing{
            World-spacing: 50px;
         }
         .line_height{
            line-height: 10px;
         }
         .t_shadow{
            font-size: 80px;
            text-align: center;
            color: black;
            text-shadow: 10px 6px 5px grey;
         }
         .t_shadow2{
            font-size: 80px;
            text-align: center;
            color:red;
            text-shadow: 10px 6px 5px black;
         }
         .t_shadow3{
            font-size: 80px;
            text-align: center;
            color:red;
            text-shadow: 10px 6px 5px burlywood;
         }
         
            .b_shadow{
               box-shadow: 16px 16px 13px blue;
               width: 250px;
            }
            .d_shadow{
               width: 250px;
            text-align: center;
            filter: drop-shadow(4px 4px 6px red);
            }
            .t_color{
               color: blue;
            }
           .t_size{
            font-size: 60px;
           }
           .t_shadow{
            text-shadow: 16px 20px 10px black;
           }
           .t_bg{
            background-color: chocolate;
           }
           #t_color{
            color: brown;;
          }


           .f_family1{
            font-family: emoji;
           }
           .f_family2{
            font-family:cursive;
           }
           .f_family3{
            font-family:fangsong;
           }
           
            .f_family4{
               font-family: monospace;

            }
            .b_prop1{
               border: 20px double green;
            }
            .b_prop2{
               border: 6px dashed yellow;
            }
            .b_prop3{
               border: 6px  black;
            }
            .t_transform_up{
    text-transform: uppercase;
   }

   .t_transform_low{
    text-transform: lowercase;
   }
   .t_transform_cai{
    text-transform: capitalize;
   }
   .t_center{
    text-align: center;
   }
   
   .t_right{
    text-align: right;
   }
   
   .t_decor_underline{
      text-decoration: underline ;
   }

   .t_decor_overline{
      text-decoration: overline;
   }
   .t_decor_linethrought{
      text-decoration: line-through;
   }
   .t_indent{
      text-indent: 160px;
   }
   .letter_space{
      letter-spacing: 10px;
   }
   .Word_spacing{
      word-spacing: 30px;
   }

   .line_height{
      line-height: 28px;
   }
   .b_prop3{
      width: 250px;
      border: 6px double brown;

      border-top-left-radius: 50px;
       border-top-right-radius: 20px;
       border-bottom-right-radius: 50px;
       border-bottom-left-radius: 20px;
   }

   .b_prop4{
      width: 250px;

      border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       border-bottom-right-radius: 20px;
       border-bottom-left-radius: 20px;
   }

   .b_prop5{
      width: 250px;
      border: 6px double blueviolet;

     /* border-top-left-radius: 50px ;
       border-top-right-radius: 50px;
       border-bottom-right-radius: 50px;
       border-bottom-left-radius: 50px;*/
    border-radius: 50px 20px 50px 20px;
    border-color: red black red black;
   }
    .box_model1{
      border: 10px solid green ;
      padding: 30px;
      margin: 60px;
    }

        .box_model2{
      border: 6px solid red ;
      padding: 30px;
      margin: 60px;
    }

        .box_model3{
      border: 6px solid orangered ;
      padding: 30px 50px 30px 50px;
      margin: 60px 30px 60px 50px;
    }
    
    .image1{
      width: 250px;
      border: 6px double yellow;
      border-radius: 40px;
      padding: 20px 50px 20px 50px;
      margin-left: 60px 10px 60px 10px;

    }

     .image2{
      width: 250px;
      border: 6px double yellow;
      border-radius: 40px;
      padding: 20px 100px 20px 50px;
      margin-left: 80px 10px 60px 10px;

    }
    .linear{
      height: 400px;
      background: linear-gradient(orangered,white,green);
    }

   .heading{
      text-align: center;
      padding: 50;
      color: white;
    }

    .page{
      text-align: center;
      padding: 30;
      color: black;
    }
    .radial1{
      height: 800px;
      background:radial-gradient(circle, orangered,white,green);
      border-radius: 50%;
    }
   .conic{
      height: 500px;
      background:conic-gradient(from 90deg, red,green,blue,black);
   }
   .t_shadow{
      font-size: 80px;
      text-align: center;
      color: blueviolet;
      text-shadow: 10px 5px 7px green;
   }
   .image1{
      box-shadow: 16px 16px 13px red;
      width: 250px;
   }
   .image2{
      width: 400px;
      filter: drop-shadow(4px 4px 40px green);
      padding: 20px,100px,20px,100px;
      margin-left: 200px 40px ;
   }

   .f_family01{
      font-family: cursive;
   }

    .f_family02{
      font-family:fantasy;
   }
    .f_family03{
      font-family: monospace;
   }
   
   .b_brodar{
      border: 10px inset yellow;
      box-shadow: red;
   }

   .b_bordar1{
      border: 10px inset yellow;
      box-shadow: red;
      text-shadow: orangered;
   }

   .b_bordar2{
      width: 200px;
      border: 4px double blueviolet ;

      /*border-radius: 200px*/

      /*border-top-left-radius: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 20px;*/

      border-radius: 100px 50px 100px 50px;
      border-color: red green yellow purple; 
   }

      .box_model1{
         border: 4px inset coral;
         padding: 70px;
         margin: 50px;

         

      }

   .box_model2{
      width: 250px;
      border: 5px double blue;
      border-radius: 50px 20px 50px 20px;
      padding: 50px 10px 50px 10px;
      margin-left: 70;
   }

   .linear{
      height: 400px;
      text-align: center;
      text-align: donw;
      font-size: 200px;
      padding-top: 200px;
      margin: 20px;
      margin-left: 70px 35px 70px 35px;
     /* background: linear-gradient(to left, orangered, white, green);*/
      /*background: conic-gradient(orangered, white, green);*/
      background: radial-gradient( orangered, white, green);
   }


