
h3{
    font-size: 50px;
    background-color: blueviolet !important;
}
h2{
    font-size: 100;
    background-color: darkgoldenrod !important;
}

.text_transform_up{
            text-transform: uppercase;
         }
        
.text_transform_low{
            text-transform: lowercase;
         }

.text_transform_cap{
            text-transform: capitalize;
         }

         .text_transform_underlinr{
            text-decoration: underline;
         }
         .text_transform_overline{
            text-decoration: overline;
         }
         .text_transform_linethrought{
            text-decoration: line-through;
         }
         .letter{
            text-indent: 80px;
         }
         .letter_spacing{
            letter-spacing: 70px;
         }
         .World_spacing{
            World-spacing: 50px;
         }
         .line_height{
            line-height: 10px;
         }
         .t_shadow{
            font-size: 80px;
            text-align: center;
            color: black;
            text-shadow: 10px 6px 5px grey;
         }
         .t_shadow2{
            font-size: 80px;
            text-align: center;
            color:red;
            text-shadow: 10px 6px 5px black;
         }
         .t_shadow3{
            font-size: 80px;
            text-align: center;
            color:red;
            text-shadow: 10px 6px 5px burlywood;
         }
         
            .b_shadow{
               box-shadow: 16px 16px 13px blue;
               width: 250px;
            }
            .d_shadow{
               width: 250px;
            text-align: center;
            filter: drop-shadow(4px 4px 6px red);
            }
            .t_color{
               color: blue;
            }
           .t_size{
            font-size: 60px;
           }
           .t_shadow{
            text-shadow: 16px 20px 10px black;
           }
           .t_bg{
            background-color: chocolate;
           }
           #t_color{
            color: brown;;
          }


           .f_family1{
            font-family: emoji;
           }
           .f_family2{
            font-family:cursive;
           }
           .f_family3{
            font-family:fangsong;
           }
           
            .f_family4{
               font-family: monospace;

            }
            .b_prop1{
               border: 20px double green;
            }
            .b_prop2{
               border: 6px dashed yellow;
            }
            .b_prop3{
               border: 6px  black;
            }
            .t_transform_up{
    text-transform: uppercase;
   }

   .t_transform_low{
    text-transform: lowercase;
   }
   .t_transform_cai{
    text-transform: capitalize;
   }
   .t_center{
    text-align: center;
   }
   
   .t_right{
    text-align: right;
   }
   
   .t_decor_underline{
      text-decoration: underline ;
   }

   .t_decor_overline{
      text-decoration: overline;
   }
   .t_decor_linethrought{
      text-decoration: line-through;
   }
   .t_indent{
      text-indent: 160px;
   }
   .letter_space{
      letter-spacing: 10px;
   }
   .Word_spacing{
      word-spacing: 30px;
   }

   .line_height{
      line-height: 28px;
   }
   .b_prop3{
      width: 250px;
      border: 6px double brown;

      border-top-left-radius: 50px;
       border-top-right-radius: 20px;
       border-bottom-right-radius: 50px;
       border-bottom-left-radius: 20px;
   }

   .b_prop4{
      width: 250px;

      border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       border-bottom-right-radius: 20px;
       border-bottom-left-radius: 20px;
   }

   .b_prop5{
      width: 250px;
      border: 6px double blueviolet;

     /* border-top-left-radius: 50px ;
       border-top-right-radius: 50px;
       border-bottom-right-radius: 50px;
       border-bottom-left-radius: 50px;*/
    border-radius: 50px 20px 50px 20px;
    border-color: red black red black;
   }
    .box_model1{
      border: 10px solid green ;
      padding: 30px;
      margin: 60px;
    }

        .box_model2{
      border: 6px solid red ;
      padding: 30px;
      margin: 60px;
    }

        .box_model3{
      border: 6px solid orangered ;
      padding: 30px 50px 30px 50px;
      margin: 60px 30px 60px 50px;
    }
    
    .image1{
      width: 250px;
      border: 6px double yellow;
      border-radius: 40px;
      padding: 20px 50px 20px 50px;
      margin-left: 60px 10px 60px 10px;

    }

     .image2{
      width: 250px;
      border: 6px double yellow;
      border-radius: 40px;
      padding: 20px 100px 20px 50px;
      margin-left: 80px 10px 60px 10px;

    }
    .linear{
      height: 400px;
      background: linear-gradient(orangered,white,green);
    }

   .heading{
      text-align: center;
      padding: 50;
      color: white;
    }

    .page{
      text-align: center;
      padding: 30;
      color: black;
    }
    .radial1{
      height: 800px;
      background:radial-gradient(circle, orangered,white,green);
      border-radius: 50%;
    }
   .conic{
      height: 500px;
      background:conic-gradient(from 90deg, red,green,blue,black);
   }
   .t_shadow{
      font-size: 80px;
      text-align: center;
      color: blueviolet;
      text-shadow: 10px 5px 7px green;
   }
   .image1{
      box-shadow: 16px 16px 13px red;
      width: 250px;
   }
   .image2{
      width: 400px;
      filter: drop-shadow(4px 4px 40px green);
      padding: 20px,100px,20px,100px;
      margin-left: 200px 40px ;
   }

   .f_family01{
      font-family: cursive;
   }

    .f_family02{
      font-family:fantasy;
   }
    .f_family03{
      font-family: monospace;
   }
   
   .b_brodar{
      border: 10px inset yellow;
      box-shadow: red;
   }

   .b_bordar1{
      border: 10px inset yellow;
      box-shadow: red;
      text-shadow: orangered;
   }

   .b_bordar2{
      width: 200px;
      border: 4px double blueviolet ;

      /*border-radius: 200px*/

      /*border-top-left-radius: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 20px;*/

      border-radius: 100px 50px 100px 50px;
      border-color: red green yellow purple; 
   }

      .box_model1{
         border: 4px inset coral;
         padding: 70px;
         margin: 50px;

         

      }

   .box_model2{
      width: 250px;
      border: 5px double blue;
      border-radius: 50px 20px 50px 20px;
      padding: 50px 10px 50px 10px;
      margin-left: 70;
   }

   .linear{
      height: 400px;
      text-align: center;
      text-align: donw;
      font-size: 200px;
      padding-top: 200px;
      margin: 20px;
      margin-left: 70px 35px 70px 35px;
     /* background: linear-gradient(to left, orangered, white, green);*/
      /*background: conic-gradient(orangered, white, green);*/
      background: radial-gradient( orangered, white, green);
   }

   body{
      /*background-image: url(/image/bcakg1.jpg);
      border-radius: no-repeat;
      background-size: cover;*/
   }

   .heading{
      text-align: center;
      font-size: 50px;
      color: white;
      padding-top: 50px;
   }

   .text{
      padding-left: 300px;
      padding-right: 300px;
      text-align: center;
      color: white;
      background-color: blue;
    font-size: 10px;

   }
  .span{
    background-color: blue;
    font-size: 20px;
  }
  .box{
   width: 250px;
   height: 100px;
   background-color: pink;
   border: 6px inset red;
   margin: 40px;
   text-align: center
   ;
  }
  .box1{
   position: static;
   left: 300px;
  }
  .box2{
   position: relative;
   left: 300px;
   top: 20px;
  }
  .box3{
   position: absolute;
   left: 300px;
   top: 20px;
  }

  .box4{
   position: fixed;
   right: 10px;
   bottom: 0px;
  }
  .box5{
   position: sticky;
   top:10px;
  }
  .rel{
   position: relative;
   width: 400px;
   height: 400px;
   background-color: red;
   top: 20px;
   left: 400px;
  }
  #tv{
   position: absolute;
   height: 30px;
   width: 100px;
   left: 150px;
   background-color: yellow;
   top: 10px;
  }
   #sofa{
   position: absolute;
   height: 30px;
   width: 100px;
   left: 150px;
   background-color: gainsborog;
   top: 10px;
  }
  .flex-items{
   background-color:black;
   width: 400px;
   height: 300px;
   color: antiquewhite;
   text-align: center;
   font-size: 100px;
   align-items: center;
   list-style: none;
   margin: 20px;
   padding: 20px;
   margin-left: 20px;
  }
  .flex-contianer{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

  }

  h1{
   text-align: center;
   font-size: 40px;
   margin: 40px;
  }
  h1:hover{
   color: brown;
   background-color: yellow;
   font-size: 80px;
   text-align: center;
   padding: 20px;
   margin: 70px;
   text-shadow: 30px;
  }
   input:focus{
      background-color: greenyellow;
      color: red;
      font-size: 30px;
   }
   a:visited{
      color:  red;

   }
   p::first-letter{
      color: green;
   }
   p::first-line{
      color: blue;
   }
   h3::selection{
      color: red;
      background-color: aqua;
   }
   .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      gap: 30px;
   }

   .boxs{
      background-color: purple;
      border: 4px solid black;
      height: 250px;
      width: 250px;
      color: white;
      align-items: center;
      font-size: 30px;
      transition: transform 1s ease;

   }
   .box11:hover{
      transform: translate(250px,250px);
   }
   .box22:hover{
      transform: translateX(125px);
   }
   .box33:hover{
      transform: translateY(125px);
   }
    .box44:hover{
      transform: rotate(720deg);
   }
   
    .box55:hover{
      transform: skewX(50deg);
   }
   .box66:hover{
      transform: skewY(50deg);
   }
.box77:hover{
      transform: skew(20deg,20deg);
   }
   .box88:hover{
      transform: scale(2);
   }
   .box99:hover{
      transform: scale(2) rotate(180deg) translateX(150px);
   }
   .img-wrapper{
      width: 400px;
      height: 350px;
      border: 5px solid blue;
      position: relative;
      overflow: hidden;
   }

   .inner-img{
      width: 100%;
      height: 100%;
      transition: 2s;
   }

   .inner-img:hover{
       transform: scale(2);
   }
   .img-wrapper1{
      width: 300px;
      height: 250px;
      border: 5px solid rgb(255, 136, 0);
      position: relative;
      overflow: hidden;
      transform: rotate(180deg);
   }

   .inner-img{
      width: 100%;
      height: 100%;
      transition: 2s;
      transform: rotate(180deg);
   }

   .inner-img:hover{
       transform: scale(2);
   }

   .img_kc{
     width: 200px;
      height: 200px;
      background-color: yellow;
      position: relative;
      animation: kalpesh;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-delay: 1s;

   }

   @keyframes kalpesh{
      0%{background-color: green;left:0px;top:0px}
      25%{background-color: pink;left:300px;top:0px}
      50%{background-color: blue;left:300px;top:300px}
      75%{background-color:orangered;left:0px;top:300px}
      100%{background-color:green;left:0px;top:0px}

   }

   .container1{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      gap: 30px;
   }

   .box1{
      background-color: purple;
      border: 4px solid black;
      height: 250px;
      width: 250px;
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      transition: transform 1s ease;
   }
   .box111{
      transform: translate(150px,150px);

   }
   .box222{
      transform: translateX(150px);
   }
   
   ul{
      width: 200px;
      padding: 10px;
      list-style-type: none;
      font-weight: 900;
   }

   li{
      padding: 10px;
      border: 3px solid green;
      border-radius: 10px;
      margin: 10px;
   }

   li:nth-child(odd){
      background-color: aquamarine;
   }
   
    li:nth-child(even){
      background-color: black;
      color: white;
   }
   li:first-child{
      background-color: yellow;
   }
    li:last-child{
      background-color: blueviolet;
   }
   
   li:nth-child(3){
      background-color: orangered;

   }
   li:nth-child(4){
      background-color: gray;
   }
      li:nth-child(5){
      background-color: pink;
   }
    li:nth-child(7){
      background-color: navy;
      color: white;
   }
    li:nth-child(8){
      background-color: red;
   }

   .text_container1{
      display: flex;
      justify-content: center;
      font-size: 70px;
      letter-spacing: 4px;
      font-weight: 900;
      perspective: 100px;
      
   }

   .text_container1 > b{
      height: 100px;
      box-shadow: 0px 3px 5px red;
      background: linear-gradient( to right,green,red,blue,purple);
      background-clip: text;
      color: transparent;
      transform-origin: bottom; 
      transform: rotateX(-85deg);
      animation: kalpesh 10s infinite;
   }

   .text_container1 > b:nth-child(1){
      animation-delay: 1s;
   }
   .text_container1 > b:nth-child(2){
      animation-delay: 1.25s;
   }
   .text_container1 > b:nth-child(3){
      animation-delay: 1.50s;
   }
   .text_container1 > b:nth-child(4){
      animation-delay: 1.75s;
   }
   .text_container1 > b:nth-child(5){
      animation-delay: 2s;
   }
   .text_container1 > b:nth-child(6){
      animation-delay: 2.25s;
   }
   .text_container1 > b:nth-child(7){
      animation-delay: 2.50s;
   }

   @keyframes kalpesh{
      from{transform: rotateX(-85deg);}
      10%,50%{transform: rotateX(0);}
      60%, to {transform: rotateX(-85deg);}
   }
   
   body{
      display: flex;
      justify-content: center;
   }
   .swing{
      animation: swing 1s ease-in-out infinite alternate;
      transform-origin: top center;
      position: relative;
   }

   .swing img{
      width: 400px;
      border: 5px solid gray;
      box-shadow: 2px 3px 10px black;
   }
   @keyframes swing{
      0%{transform: rotate(10deg);}
      100%{transform: rotate(-10deg);}
   }

   li:nth-child(odd){
      background-color: red;
   }
   li:nth-child(even){
      background-color: chartreuse;
   }

   li:first-child{
      background-color: aqua;
   }
   li:last-child{
      background-color: blueviolet;
   }

   li:nth-child(5){
      background: palevioletred;
   }


   







