
h3{
    font-size: 50px;
    background-color: blueviolet !important;
}
h2{
    font-size: 100;
    background-color: darkgoldenrod !important;
}

.text_transform_up{
            text-transform: uppercase;
         }
        
.text_transform_low{
            text-transform: lowercase;
         }

.text_transform_cap{
            text-transform: capitalize;
         }

         .text_transform_underlinr{
            text-decoration: underline;
         }
         .text_transform_overline{
            text-decoration: overline;
         }
         .text_transform_linethrought{
            text-decoration: line-through;
         }
         .letter{
            text-indent: 80px;
         }
         .letter_spacing{
            letter-spacing: 70px;
         }
         .World_spacing{
            World-spacing: 50px;
         }
         .line_height{
            line-height: 10px;
         }
         .t_shadow{
            font-size: 80px;
            text-align: center;
            color: black;
            text-shadow: 10px 6px 5px grey;
         }
         .t_shadow2{
            font-size: 80px;
            text-align: center;
            color:red;
            text-shadow: 10px 6px 5px black;
         }
         .t_shadow3{
            font-size: 80px;
            text-align: center;
            color:red;
            text-shadow: 10px 6px 5px burlywood;
         }
         
            .b_shadow{
               box-shadow: 16px 16px 13px blue;
               width: 250px;
            }
            .d_shadow{
               width: 250px;
            text-align: center;
            filter: drop-shadow(4px 4px 6px red);
            }
            .t_color{
               color: blue;
            }
           .t_size{
            font-size: 60px;
           }
           .t_shadow{
            text-shadow: 16px 20px 10px black;
           }
           .t_bg{
            background-color: chocolate;
           }
           #t_color{
            color: brown;;
          }


           .f_family1{
            font-family: emoji;
           }
           .f_family2{
            font-family:cursive;
           }
           .f_family3{
            font-family:fangsong;
           }
           
            .f_family4{
               font-family: monospace;

            }
            .b_prop1{
               border: 20px double green;
            }
            .b_prop2{
               border: 6px dashed yellow;
            }
            .b_prop3{
               border: 6px  black;
            }
           
           